@import "variables";

html {
  background-color: var(--background-color);
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
}

body {
  width: 100% !important;
  height: 100% !important;
  font-size: var(--default-font-size);
  line-height: 4rem;
  font-family: var(--primary-font-family);
  color: var(--default-font-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  webkit-tap-highlight-color: var(--link-highlight-color);
  webkit-tap-highlight-color: var(--link-highlight-color);
}
