################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EnginMarshall/obj
/EnginMarshall/bin
/.vs/EnginMarshall.slnx/FileContentIndex
/.vs/EnginMarshall.slnx/v17/.suo
/.vs/ProjectEvaluation
/.vs/EnginMarshall.slnx/FileContentIndex/cc90ead2-5f1a-42b4-b4a3-51f807933ad3.vsidx
/.vs/EnginMarshall.slnx/v17/DocumentLayout.json
/.vs/EnginMarshall.slnx/v17/DocumentLayout.backup.json
/.vs/EnginMarshall.slnx/v17/.futdcache.v2
/.vs/EnginMarshall.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/EnginMarshall/CopilotIndices/17.14.1204.46620/CodeChunks.db
/.vs/EnginMarshall/CopilotIndices/17.14.1204.46620/CodeChunks.db-shm
/.vs/EnginMarshall/CopilotIndices/17.14.1204.46620/CodeChunks.db-wal
/.vs/EnginMarshall/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
/.vs/EnginMarshall/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-shm
/.vs/EnginMarshall/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-wal
