<!-- About Section -->
<section id="about">
    <div class="about-section">
        <h2>About</h2>
        <p>
            <cite>“Creativity is contagious.</cite>
            <br />
            <cite>Pass it on.”</cite>
        </p>
        <p>-Albert Einstein</p>
    </div>
</section>