<!-- Intro Header -->
<header class="intro">
    <div class="intro-section">
        <h1 class="brand-heading">Engin Marshall</h1>
        <p class="intro-text">Web developer</p>
        <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
</header>